body {
	font-family: Arial, sans-serif;
	font-size:18px;
	color: #f5f5f5;
	margin: 20px;
	padding: 0;
}

p {
	text-align:justify;
	margin:30px;
}

.menu ul {
	list-style: none;
	padding: 8px;
	margin: 50px;
	display: flex;
	gap: 40px;
}

.menu li {
	position: relative;
}

.menu a {
	position: relative;
	text-decoration: none;
	color: #fff;
	font-size: 20px;
	transition: 0.3s;
}

.menu a::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -5px;
	width: 0;
	height: 2px;
	background: #3F94D1;
	transition: width 0.3s;
}

.menu a:hover::after {
	color:#3F94D1;
	width:100%;
}

/*---sub menu---*/
.submenu {
	position: absolute;
	top: 1px;
	left: 0;
	background: #222;
	border-radius: 3px;
	padding: 5px 0;
	min-width: 3px;
	opacity: 0;
	pointer-events: none;
	transform: translateY(15px);
	transition 0.35s ease;
}


/* elementos internos*/
.submenu li {
	padding:8px 20px;
}

.submenu li:hover {
	background:#333;
}

.submenu a {
	font-size:18px;
	display:block;
} 

.dropdown:focus-within .submenu {
	opacity:1;
	transform: translateY(0);
	pointer-events: auto;
}

/*---suave sombra bajo el menu---*/
.dropdown:hover .submenu {
	box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}